.App {
    min-width: 1400px;
}

.l-content {
    padding: 0 150px;
}

.l-breadcrumb {
    margin: 16px 0;
}

.l-content > div {
    padding: 125px;
    min-height: 360px;
    max-width: 1600px;
    background-color: white;
}